In [0]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DateType
from pyspark.sql import functions as F

In [0]:

configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "5c975aff-8753-41ef-9aef-deb3a6b0ede3",
"fs.azure.account.oauth2.client.secret": 'A2H8Q~PVTifOfsAVgfs.ayqOek6z43FkNs6TncSc',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/60aaf3c6-3a32-43e6-a365-065b0dbae959/oauth2/token"}

dbutils.fs.mount(
source = "abfss://tokyo-olympic-data@tokyoolympicdatashehroz.dfs.core.windows.net", # contrainer@storageacc
mount_point = "/mnt/tokyoolymic",
extra_configs = configs)

In [0]:
%fs
ls "/mnt/tokyoolymic"

path,name,size,modificationTime
dbfs:/mnt/tokyoolymic/raw-data/,raw-data/,0,1719948061000
dbfs:/mnt/tokyoolymic/transformed-data/,transformed-data/,0,1719948083000

In [0]:
spark

In [0]:
#Infer Schema set to true so Spark can automatically set Data Types for columns correctly.

In [0]:
athletes = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/athletes.csv")
coaches = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/coaches.csv")
entriesgender = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/entriesgender.csv")
medals = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/medals.csv")
teams = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/teams.csv")

In [0]:
athletes.show(5)

+-----------------+-------+-------------------+
|       PersonName|Country|         Discipline|
+-----------------+-------+-------------------+
|  AALERUD Katrine| Norway|       Cycling Road|
|      ABAD Nestor|  Spain|Artistic Gymnastics|
|ABAGNALE Giovanni|  Italy|             Rowing|
|   ABALDE Alberto|  Spain|         Basketball|
|    ABALDE Tamara|  Spain|         Basketball|
+-----------------+-------+-------------------+
only showing top 5 rows

In [0]:
athletes.printSchema()

root
 |-- PersonName: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [0]:
coaches.show(4)

+---------------+-------------+----------+-----+
|           Name|      Country|Discipline|Event|
+---------------+-------------+----------+-----+
|ABDELMAGID Wael|        Egypt|  Football| NULL|
|      ABE Junya|        Japan|Volleyball| NULL|
|  ABE Katsuhiko|        Japan|Basketball| NULL|
|   ADAMA Cherif|C�te d'Ivoire|  Football| NULL|
+---------------+-------------+----------+-----+
only showing top 4 rows

In [0]:
coaches.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
entriesgender.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [0]:
entriesgender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [0]:
medals.show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|        Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [0]:
medals.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Team_Country: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

In [0]:
teams.show()

+-------------+--------------+--------------------+------------+
|     TeamName|    Discipline|             Country|       Event|
+-------------+--------------+--------------------+------------+
|      Belgium|3x3 Basketball|             Belgium|         Men|
|        China|3x3 Basketball|People's Republic...|         Men|
|        China|3x3 Basketball|People's Republic...|       Women|
|       France|3x3 Basketball|              France|       Women|
|        Italy|3x3 Basketball|               Italy|       Women|
|        Japan|3x3 Basketball|               Japan|         Men|
|        Japan|3x3 Basketball|               Japan|       Women|
|       Latvia|3x3 Basketball|              Latvia|         Men|
|     Mongolia|3x3 Basketball|            Mongolia|       Women|
|  Netherlands|3x3 Basketball|         Netherlands|         Men|
|       Poland|3x3 Basketball|              Poland|         Men|
|          ROC|3x3 Basketball|                 ROC|         Men|
|          ROC|3x3 Basketball|                 ROC|       Women|
|      Romania|3x3 Basketball|             Romania|       Women|
|       Serbia|3x3 Basketball|              Serbia|         Men|
|United States|3x3 Basketball|United States of ...|       Women|
|    Australia|       Archery|           Australia|  Men's Team|
|    Australia|       Archery|           Australia|  Mixed Team|
|   Bangladesh|       Archery|          Bangladesh|  Mixed Team|
|      Belarus|       Archery|             Belarus|Women's Team|
+-------------+--------------+--------------------+------------+
only showing top 20 rows

In [0]:
teams.printSchema()

root
 |-- TeamName: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
# Aggregating medals information by country
country_medals = medals.groupBy("Team_Country").agg(
    F.sum("Gold").alias("Total_Gold"),
    F.sum("Silver").alias("Total_Silver"),
    F.sum("Bronze").alias("Total_Bronze"),
    F.sum("Total").alias("Total_Medals")
).orderBy("Total_Medals", ascending=False)
country_medals.show()

+--------------------+----------+------------+------------+------------+
|        Team_Country|Total_Gold|Total_Silver|Total_Bronze|Total_Medals|
+--------------------+----------+------------+------------+------------+
|United States of ...|        39|          41|          33|         113|
|People's Republic...|        38|          32|          18|          88|
|                 ROC|        20|          28|          23|          71|
|       Great Britain|        22|          21|          22|          65|
|               Japan|        27|          14|          17|          58|
|           Australia|        17|           7|          22|          46|
|               Italy|        10|          10|          20|          40|
|             Germany|        10|          11|          16|          37|
|         Netherlands|        10|          12|          14|          36|
|              France|        10|          12|          11|          33|
|              Canada|         7|           6|          11|          24|
|              Brazil|         7|           6|           8|          21|
|             Hungary|         6|           7|           7|          20|
|         New Zealand|         7|           6|           7|          20|
|   Republic of Korea|         6|           4|          10|          20|
|             Ukraine|         1|           6|          12|          19|
|               Spain|         3|           8|           6|          17|
|                Cuba|         7|           3|           5|          15|
|              Poland|         4|           5|           5|          14|
|              Turkey|         2|           2|           9|          13|
+--------------------+----------+------------+------------+------------+
only showing top 20 rows

In [0]:
# Correcting the join by resolving ambiguous column references using aliases
athletes_coaches = athletes.join(
    coaches,
    (athletes["Country"] == coaches["Country"]) & (athletes["Discipline"] == coaches["Discipline"]),
    "left_outer"
).select(
    athletes["PersonName"],
    athletes["Country"].alias("AthleteCountry"),
    athletes["Discipline"].alias("AthleteDiscipline"),
    coaches["Name"].alias("CoachName"),
    coaches["Event"]
)

# Now display the results
athletes_coaches.show()

+--------------------+--------------------+-------------------+--------------------+--------+
|          PersonName|      AthleteCountry|  AthleteDiscipline|           CoachName|   Event|
+--------------------+--------------------+-------------------+--------------------+--------+
|      ABALDE Alberto|               Spain|         Basketball|ZAMORA PEDREIRA J...|    NULL|
|       ABALDE Tamara|               Spain|         Basketball|ZAMORA PEDREIRA J...|    NULL|
|           ABALO Luc|              France|           Handball|   KRUMBHOLZ Olivier|   Women|
|        ABBINGH Lois|         Netherlands|           Handball|  MAYONNADE Emmanuel|   Women|
|       ABBOTT Monica|United States of ...|  Baseball/Softball|     WEINSTEIN Jerry|Baseball|
|      ABDALLA Maryam|               Egypt|  Artistic Swimming|         MOHAMED Mai|    NULL|
|      ABDALLAH Shahd|               Egypt|  Artistic Swimming|         MOHAMED Mai|    NULL|
|     AALERUD Katrine|              Norway|       Cycling Road|                NULL|    NULL|
|         ABAD Nestor|               Spain|Artistic Gymnastics|                NULL|    NULL|
|   ABAGNALE Giovanni|               Italy|             Rowing|                NULL|    NULL|
|        ABAROA Cesar|               Chile|             Rowing|                NULL|    NULL|
|       ABASS Abobakr|               Sudan|           Swimming|                NULL|    NULL|
|    ABBASALI Hamideh|Islamic Republic ...|             Karate|                NULL|    NULL|
|       ABBASOV Islam|          Azerbaijan|          Wrestling|                NULL|    NULL|
|         ABBOT Emily|           Australia|Rhythmic Gymnastics|                NULL|    NULL|
|ABDALLA Abubaker ...|               Qatar|          Athletics|                NULL|    NULL|
| ABDALRASOOL Mohamed|               Sudan|               Judo|                NULL|    NULL|
|   ABDEL LATIF Radwa|               Egypt|           Shooting|                NULL|    NULL|
|    ABDEL RAZEK Samy|               Egypt|           Shooting|                NULL|    NULL|
|   ABDELAZIZ Abdalla|               Egypt|             Karate|                NULL|    NULL|
+--------------------+--------------------+-------------------+--------------------+--------+
only showing top 20 rows

In [0]:
top_gold_medal_countries = medals.orderBy("Gold", ascending=False).select("Team_Country","Gold").show()

+--------------------+----+
|        Team_Country|Gold|
+--------------------+----+
|United States of ...|  39|
|People's Republic...|  38|
|               Japan|  27|
|       Great Britain|  22|
|                 ROC|  20|
|           Australia|  17|
|         Netherlands|  10|
|              France|  10|
|             Germany|  10|
|               Italy|  10|
|                Cuba|   7|
|         New Zealand|   7|
|              Brazil|   7|
|              Canada|   7|
|             Hungary|   6|
|   Republic of Korea|   6|
|               Kenya|   4|
|              Poland|   4|
|      Czech Republic|   4|
|              Norway|   4|
+--------------------+----+
only showing top 20 rows

In [0]:

# Calculate the average number of entries by gender for each discipline
average_entries_by_gender = entriesgender.withColumn(
    'Avg_Female', entriesgender['Female'] / entriesgender['Total']
).withColumn(
    'Avg_Male', entriesgender['Male'] / entriesgender['Total']
)
average_entries_by_gender.show()

+--------------------+------+----+-----+-------------------+-------------------+
|          Discipline|Female|Male|Total|         Avg_Female|           Avg_Male|
+--------------------+------+----+-----+-------------------+-------------------+
|      3x3 Basketball|    32|  32|   64|                0.5|                0.5|
|             Archery|    64|  64|  128|                0.5|                0.5|
| Artistic Gymnastics|    98|  98|  196|                0.5|                0.5|
|   Artistic Swimming|   105|   0|  105|                1.0|                0.0|
|           Athletics|   969|1072| 2041| 0.4747672709456149| 0.5252327290543851|
|           Badminton|    86|  87|  173|0.49710982658959535| 0.5028901734104047|
|   Baseball/Softball|    90| 144|  234|0.38461538461538464| 0.6153846153846154|
|          Basketball|   144| 144|  288|                0.5|                0.5|
|    Beach Volleyball|    48|  48|   96|                0.5|                0.5|
|              Boxing|   102| 187|  289|0.35294117647058826| 0.6470588235294118|
|        Canoe Slalom|    41|  41|   82|                0.5|                0.5|
|        Canoe Sprint|   123| 126|  249| 0.4939759036144578| 0.5060240963855421|
|Cycling BMX Frees...|    10|   9|   19| 0.5263157894736842|0.47368421052631576|
|  Cycling BMX Racing|    24|  24|   48|                0.5|                0.5|
|Cycling Mountain ...|    38|  38|   76|                0.5|                0.5|
|        Cycling Road|    70| 131|  201| 0.3482587064676617| 0.6517412935323383|
|       Cycling Track|    90|  99|  189|0.47619047619047616| 0.5238095238095238|
|              Diving|    72|  71|  143| 0.5034965034965035| 0.4965034965034965|
|          Equestrian|    73| 125|  198| 0.3686868686868687| 0.6313131313131313|
|             Fencing|   107| 108|  215|0.49767441860465117| 0.5023255813953489|
+--------------------+------+----+-----+-------------------+-------------------+
only showing top 20 rows

In [0]:
# Writing country_medals DataFrame
country_medals.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolymic/transformed-data/country_medals")

# Writing athletes_coaches DataFrame
athletes_coaches.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolymic/transformed-data/athletes_coaches")

# Writing average_entries_by_gender DataFrame
average_entries_by_gender.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolymic/transformed-data/average_entries_by_gender")

In [0]:
athletes.repartition(1).write.mode("overwrite").option("header",'true').csv("/mnt/tokyoolymic/transformed-data/athletes")

In [0]:


coaches.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/coaches")
entriesgender.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/entriesgender")
medals.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/medals")
teams.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/teams")